body {
  background-color: #d9d9d9; }

li {
  list-style-type: none; }

img {
  width: 100%;
  height: auto; }

.page-wrapper {
  max-width: 1250px;
  background-color: #f0f0f0; }
  .page-wrapper .search-section {
    padding-top: 30px; }
    .page-wrapper .search-section .search-form {
      float: right;
      width: 50%;
      height: 72px; }
      .page-wrapper .search-section .search-form > div {
        float: right;
        width: auto;
        height: 100%;
        overflow: hidden;
        position: relative; }
      .page-wrapper .search-section .search-form label, .page-wrapper .search-section .search-form button, .page-wrapper .search-section .search-form input {
        height: 72px;
        border: none;
        margin: 0px;
        color: #000000; }
      .page-wrapper .search-section .search-form label, .page-wrapper .search-section .search-form button, .page-wrapper .search-section .search-form input[type=submit] {
        float: right;
        padding: 0px;
        text-indent: 1000px;
        overflow: hidden;
        width: 72px;
        cursor: pointer;
        background: white url("../images/icon_search.png") center center/30px 30px no-repeat; }
      .page-wrapper .search-section .search-form input[type=text] {
        padding: 0px;
        width: 0px;
        transition: all 0.9s;
        display: inline-block; }
      .page-wrapper .search-section .search-form label, .page-wrapper .search-section .search-form button {
        background-color: #f0f0f0; }
        .page-wrapper .search-section .search-form label:focus, .page-wrapper .search-section .search-form button:focus {
          display: none; }
          .page-wrapper .search-section .search-form label:focus + input, .page-wrapper .search-section .search-form button:focus + input {
            display: inline-block;
            padding: 0px 15px 0px 15px;
            width: 291px; }
          .page-wrapper .search-section .search-form label:focus ~ input[type=submit], .page-wrapper .search-section .search-form button:focus ~ input[type=submit] {
            display: block; }
      .page-wrapper .search-section .search-form input[type=submit] {
        display: none; }
  .page-wrapper .card-section {
    padding-bottom: 50px; }
    .page-wrapper .card-section .card-image {
      width: 100%; }
    .page-wrapper .card-section .card-item {
      margin-top: 20px;
      background-color: #ffffff;
      min-height: 400px; }
    .page-wrapper .card-section .card-article {
      padding: 20px 20px 0px; }
  .page-wrapper .gallery-section {
    background-color: #ffffff; }
    .page-wrapper .gallery-section .gallery-col {
      float: left;
      vertical-align: top; }
    .page-wrapper .gallery-section li {
      float: left;
      width: 40%;
      vertical-align: top; }
      .page-wrapper .gallery-section li:nth-child(2), .page-wrapper .gallery-section li:nth-child(5) {
        width: 20%; }
      .page-wrapper .gallery-section li:nth-child(4) {
        float: right; }
      .page-wrapper .gallery-section li:nth-child(5) {
        clear: left; }
      .page-wrapper .gallery-section li:nth-child(1) {
        padding-right: 10px; }
      .page-wrapper .gallery-section li:nth-child(2) {
        padding-bottom: 10px; }
      .page-wrapper .gallery-section li:nth-child(3), .page-wrapper .gallery-section li:nth-child(4) {
        padding-left: 10px; }
      .page-wrapper .gallery-section li:nth-child(3) {
        padding-bottom: 5px; }
      .page-wrapper .gallery-section li:nth-child(4) {
        padding-top: 5px; }
      .page-wrapper .gallery-section li:nth-child(5) {
        padding-right: 5px; }
      .page-wrapper .gallery-section li:nth-child(6) {
        padding-left: 5px; }

/*** Helper Classes **/
.no-padding {
  padding: 0px; }
