body {
  background-color: #d9d9d9;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

.search-section {
  padding-top: 30px;
}
.search-section .search-form {
  float: right;
  width: 100%;
  height: 46px;
}

.search-container {
  position: relative;
  float: right;
  width: 380px;
  max-width: 100%;
  height: 100%;
  padding-right: 46px;
  overflow: hidden;
}
.search-container > * {
  margin: 0px;
  padding: 0px;
  height: 100%;
  border: none;
}
.search-container .search-control, .search-container .search-submit {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 46px;
  text-indent: 1000px;
  overflow: hidden;
  cursor: pointer;
  background: white url("../images/icon_search.png") center center/30px 30px no-repeat;
}
.search-container .search-field {
  float: left;
  width: 0px;
  text-indent: 15px;
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  -o-transition: all 0.9s;
}
.search-container .search-field:focus {
  width: 100%;
  outline: none;
}
.search-container .search-field:focus + .search-submit {
  z-index: 6;
}
.search-container .search-submit {
  z-index: 4;
}
.search-container .search-submit:focus {
  outline: none;
  z-index: 6 !important;
}
.search-container .search-control {
  z-index: 5;
}
.search-container .search-control:focus {
  outline: none;
}
.search-container .search-control:focus + .search-field {
  width: 100%;
}

.card-section {
  padding-bottom: 50px;
}
.card-section .card-image {
  width: 100%;
}
.card-section .card-item {
  margin-top: 20px;
  background-color: white;
}
.card-section .card-article {
  padding: 0.9375rem;
}
.card-section .card-article p {
  margin: 0px;
}

.gallery-section {
  background-color: white;
}
.gallery-section ul {
  overflow: hidden;
}
.gallery-section li {
  float: left;
  box-sizing: content-box;
  width: 40%;
  vertical-align: top;
}
.gallery-section li:nth-child(2), .gallery-section li:nth-child(5) {
  width: 20%;
}
.gallery-section li:nth-child(4) {
  float: right;
}
.gallery-section li:nth-child(5) {
  clear: left;
}
.gallery-section li:nth-child(3), .gallery-section li:nth-child(4) {
  box-sizing: border-box;
  margin-right: -10px;
}
.gallery-section li:nth-child(1), .gallery-section li:nth-child(2), .gallery-section li:nth-child(5), .gallery-section li:nth-child(6) {
  border-right: 5px solid white;
}
.gallery-section li:nth-child(4), .gallery-section li:nth-child(5), .gallery-section li:nth-child(6) {
  border-top: 5px solid white;
}

/*** Helper Classes **/
.no-padding {
  padding: 0px;
}

@media screen and (min-width: 544px) {
  .gallery-section li:nth-child(1), .gallery-section li:nth-child(2), .gallery-section li:nth-child(5), .gallery-section li:nth-child(6) {
    border-right: 10px solid #ffffff;
  }
  .gallery-section li:nth-child(4), .gallery-section li:nth-child(5), .gallery-section li:nth-child(6) {
    border-top: 10px solid #ffffff;
  }
  .gallery-section li:nth-child(3), .gallery-section li:nth-child(4) {
    margin-right: -20px;
  }
}
@media (min-width: 768px) {
  .card-section .card-article {
    min-height: 15.5rem;
  }
}
@media (min-width: 992px) {
  .card-section .card-article {
    min-height: 11rem;
  }
}
@media (min-width: 1200px) {
  .card-section .card-article {
    min-height: 9.5rem;
  }
}
